@import "../../mixins";
@import "../../variables";

.nav-wrapper {
    @include flex(center, center);
    @include wh(100%, fit-content);
    background-color: $bg-color1;
    color:$text-color1;

    .nav-ins-wrap {
        @include flex(center, center);
        @include wh(fit-content, fit-content);
    }


    .searchbar{
         @include wh(fit-content, fit-content);
         @include flex(center, center);
         margin: 15px 0;
         background-color: white;
         color:$bg-color1;
         border-radius: 10px;

        .search-icon{
            padding:6px;
            padding-left:10px;
            line-height: 10px;
             img{
                @include wh(24px,24px);
             }
        }
        .input{
            @include wh(220px, 100%);
            margin-left:5px;
            input[type="text"]{
                @include wh(100%, 100%);
                outline: none;
                border:none;
            }
        }
    }

    .links-wrapper{
        @include flex(center, center);
        margin-left:40px;

        li{
            list-style: none;
            margin: 0 10px;
        }

        a{
            text-decoration: none;
            @include text(14px, 400, "Inter", 20px);
            color:$text-color1;
        }
    }

    .hamburger{
        display:none;
        padding:5px;
        background-color: white;
    border-radius: 10px;
    margin-right: 113px;
    line-height: 10px;
        img{
            @include wh(24px,24px);
        }
    }
}


@media screen and (max-width: 1024px) {
    .nav-wrapper{
        .nav-ins-wrap{
            width: 100% !important;
            justify-content: flex-end !important;
        }
        .searchbar{
            margin-right:20px !important;
        }
        .search-icon{
            padding-left: 6px !important;
        }
        .input{
            display: none !important;
        }

        .hamburger{
            display: block !important;
        }

        .links-wrapper{
            display: none  !important;
        }
    }

}


@media screen and (max-width: 600px) {
    .nav-ins-wrap{
        .hamburger{
            margin-right: 40px !important;
        }
    }
}